/***** Home start *****/
.header {
    text-align: center;
    margin: 10px;
    margin-top:7px;
    background-color: #d9eeff;
    padding: 8px;
    /* border: 2px solid rgb(131, 80, 80); */
    border: 1px solid lightgray;
    border-radius: 10px;

    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 90%;
}

.header__searchIcon {
    background-color: white;
    padding: 0px 10px 2px 10px;
    border-radius: 10px 0px 0px 10px;
}

.header__searchBox {
    border: none;
    padding: 4px 7px;
    width: 70%;
    border-radius: 0px 10px 10px 0px;
    background-color: white;
}
/***** Home end *****/

/***** Latest5EpisodeTemplate start *****/
.latest5EpTemp {
    border: 1px solid lightgray;
    margin: 3%;
    padding: 1%;
    border-radius: 20px;
    background-color: #343f54;
}

.latest5Eptemp__img {
    width: 30%;
}

.latest5Eptemp__img img {
    width: 100%;
    height: 95%;
    border-radius: 20px;
    padding: 2%;
}

.latest5EpTemp__DetailSection {
    padding: 1%;
    padding-left: 3%;
    width: 70%;
}

.latest5EpTemp__DetailSection h2, p, img {
    margin: 0;
    padding: 0;
}

.latest5EpTemp__DetailSection p {
    color: #ccc8c1;
}

.latest5EpTemp__title {
    color: #e8e6e3;
}

.latest5EpTemp__flex {
    display: flex;
}

.latest5EpTemp__downloadIcon {
    height: 30px;
}
/***** Latest5EpisodeTemplate end *****/


/***** latest5Ep start *****/
.latest5Ep {
    margin-top: 15%;
}
/***** latest5Ep end *****/


/***** categoryOfEp start *****/
.categoryOfEp {
    margin: 10% 0%;
}

.categoryOfEp h1{
    margin: 2% 3%;
    padding: 3%;
    border-bottom: 2px solid #ff1c34;
    border-radius: 10px;
}

.categoryOfEp__heading {
    text-align: center;
    color: red;
    background-color: #d9eeff;
}

.categoryOfEp__LinkText {
    text-decoration: none;
}
/***** categoryOfEp start *****/


/***** CategoryOfEpisodeTemplate start *****/
.categoryOfEpTemp {
    border: 1px solid lightgray;
    margin: 3%;
    padding: 1%;
    border-bottom: 5px solid #eb6f6d;
    border-radius: 20px;
    background-color: #d9eeff;
}



.categoryOfEpTemp__img {
    width: 30%;
}

.categoryOfEpTemp__img img {
    width: 100%;
    height: 95%;
    border-radius: 20px;
    padding: 2%;
}

.categoryOfEpTemp__DetailSection {
    padding: 1%;
    padding-left: 3%;
    width: 70%;
}

.categoryOfEpTemp__DetailSection h2, p {
    margin: 0;
    padding: 0;
}

.categoryOfEpTemp__DetailSection {
    color: #ccc8c1;
}

.categoryOfEpTemp__title {
    color: #eb6f6d;
}

.categoryOfEpTemp__titleName {
    text-decoration: none;
}

.categoryOfEpTemp__paragraph {
    text-decoration: none;
}

.categoryOfEpTemp__flex {
    display: flex;
}
/***** CategoryOfEpisodeTemplate start *****/